@charset "ISO-8859-1";

body {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}



.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #240046;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
padding: 0px 10px;
display: flex;
justify-content: center;
align-items: center;
    
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}

.espaco{
	padding-right: 3%;
    margin-top: 1%;
    display: flex;
    padding-left: 3%;
    margin-bottom: 1%;
}
.cabecario{
	 background-color: #240046;
	 color: #fff;
	 display: flex;
	justify-content: center;
	align-items: center;
}

.cabecario1{
	 background-color: #C77DFF;
	 color: #fff;
	 display: flex;
	justify-content: center;
	align-items: center;
}

.corpo{
	background-color: #3C096C;
}

.img{
     margin: auto;
     display: block;
}

.text{
	margin-top:20%;
	display: flex;
justify-content: center;
align-items: center;
	
	
}

.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
    justify-content: center;
}

.login-main-text h2{
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-bottom:30%;
    
}

.btn-black{
    background-color: #240046;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}
.btn-black:hover {
    background-color: #7B2CBF;
    color: #fff;
    display: inline-block;
}

.barra{
	background-color: #240046;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: blue;
    color: #FFF;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

select[readonly] {
  background: #eee; /*Simular campo inativo - Sugestão @GabrielRodrigues*/
  pointer-events: none;
  touch-action: none;
}